.wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 9px;
  height: 19px;
}
.wrapper input[type="checkbox"] {
  display: none;
}

.wrapper label {
  display: flex;
  align-items: center;
  cursor: default;
}
.wrapper label:before {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  content: " ";
  background: white;
  border: 1px solid var(--regent-gray);
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}
.lastcheckBox{
  padding-bottom: 27px;
}

.wrapper input:checked + label:before {
  content: url("/src/accets/images/IconCheckBox.svg");
}
.wrapper input:disabled + label:before {
  cursor: default;
  background: #f1f1f1;
  border-color: #e8e8e8;
}
.wrapper input[type="checkbox"][disabled]:checked + label::before {
  content: url("/src/accets/images/IconCheckBoxDisable.svg");
}

.error {
  color: #f37575;
  grid-column: 2/3;
  margin-left: 20px;
}

.errorLabel {
  color: #f37575;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-bottom: 11px;
  }
  .lastcheckBox{
    padding-bottom: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .lastcheckBox{
    padding-bottom: 15px;
  }
}