.wrapper{
  margin-bottom: 36px;
}

.heading{
  margin: 0;
}

.paragraph{
  margin: 0;
  margin-top: 10px;
  padding: 0;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .wrapper{
    margin-bottom: 36px;
    width: 450px;
  }
}