@import url("./_variables.css");

html {
  font-family: "PT Sans";
  font-size: 100%;
  color: var(--outer-space);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--wild-sand);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 150%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  line-height: 150%;
  color: var(--outer-space);
  font-weight: 700;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 120%;
}
h2 {
  margin-top: 10px;
  font-size: 24px;
}
h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 18px;
}
p {
  margin: 10px 0;
  padding: 0;
}
a {
  color: var(--cornflower-blue);
}

ul {
  padding-left: 34px;
  margin: 20px 0;
  line-height: 150%;
}
ul li {
  margin-bottom: 10px;
}
ol li {
  list-style-type: none;
  padding-top: 10px;
}
ul li::marker {
  color: #a1d5f6;
}
ol {
  counter-reset: list1;
  position: relative;
}
ol li::before {
  position: absolute;
  left: 20px;
  margin-right: 8px;
  color: #a1d5f6;
  content: counter(list1) ".";
  counter-increment: list1;
  height: auto;
}
ol ol {
  counter-reset: list2;
}
ol ol li::before {
  counter-increment: list2;
  content: counter(list1) "." counter(list2);
}
ol ol li {
  padding-left: 11px;
}
blockquote {
  margin: 20px 0;
  padding: 10px 25px;
  background: var(--wild-sand);
  border-left: 5px solid #a1d5f6;
  border-radius: 3px;
}
