.Button {
  padding: 10px 0;

  width: 100%;

  background-color: var(--cornflower-blue);
  border: 1px solid var(--royal-blue);
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
}

.saveBtn {
  width: 86px;
  font-size: 14px;
  background-color: var(--cornflower-blue);
}
.cancelBtn {
  width: 86px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: var(--regent-gray);
}

@media screen and (min-width: 768px) {
  .Button {
    width: 156px;
  }
  .saveBtn {
    width: 86px;
  }
  .cancelBtn {
    width: 86px;
  }
}
