.nav {
  display: flex;
  gap: 26px;

  margin-bottom: 26px;

  border-bottom: 1px solid var(--cornflower-blue);
}
.button {
  padding: 0 5px 9px;

  background-color: transparent;
  transition: border-bottom-color 0.4s ease, opacity 0.4s ease;
  border: none;
  outline: none;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid var(--cornflower-blue);
  opacity: 1;
  padding-bottom: 7px;
}
