.nav{
    display: flex;
    gap: 35px;
    border-bottom: 1px solid var(--cornflower-blue);
    margin-bottom: 26px;

}
.button{
    background-color: transparent;
    transition: border-bottom-color 0.4s ease, opacity 0.4s ease;
    border: none;
    outline: none;
    padding: 6px 5px;
    cursor: pointer;
    color: var( --outer-space);
}
.active{
    border-bottom: 3px solid var(--cornflower-blue);
}